html {
    background-color: rgb(247, 241, 233);
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.searchBar {
    font-size: 4%;
    text-align: center;
    margin-top: 30px;
}

.search-annotation {
    font-size: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
